/* boksen bagrunn */
#iframe-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Boksen */
.popup-iframe {
    background-color: #fefefe;
    margin: auto;
    padding: 2% 0%;
    border: 1px solid #888;
    width: 90%;
    height: 96%;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;

}

.popup-iframe iframe {
    /* nada! */
}

/* knapp lukk */
.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    padding-left: 10px;
    width: 100%;
    text-align: left;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#iframe {
    border: none;
    align-content: center;
    margin-top: 10px;
    width: 100%;
    height: 95%;
}
