/* -------------------------
---------- CHART -----------
--------------------------*/

.chart-btn-container {
    display: block;
    position: relative;
    width: 100%;
    height: 15vh;
}

.chart-btn-group {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.chart-container {
    position: relative;
    margin: 0 auto;
    padding: 15px 0;
    height: 85vh;
    width: 80vw;
}

.horizontal-chart-wrapper {
    position: relative;
    height: 200px;
}

.horizontal-chart-container {
    display: inline-block;
    position: relative;
    margin: 25px auto;
    padding: 15px;
    width: 80vw;
    background: rgba(255,255,255,0.95);
    background-image: linear-gradient(to bottom right, white, lightgrey);
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    box-sizing: border-box;
}


/* -------------------------
--------- BUTTONS ----------
--------------------------*/

.btn-primary {
    background: rgba(255, 255, 255, 1);
    border: 0;
    color: rgba(75, 192, 192, 1);    
}
.btn-primary:hover {
    background: rgba(255, 255, 255, 1);
    color: rgba(75, 192, 192, 1);
}

.btn-secondary {
    background: rgba(75, 192, 192, 1);
    border: 0;
    color: rgba(255, 255, 255, 1);
}

.btn-secondary:hover {
    background: rgba(255, 255, 255, 1);
    color: rgba(75, 192, 192, 1);
}

.mainPageButtonTxt {
    padding-top: 10px;
    font-size: 0.8em;
    text-align: center;
    color: white;
}