* {
    font-family: sans-serif;
    color: white;
    text-align: center;

}

body {
    background: #ff6868;
    background-image: url("img/bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: white;

}

h1 {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

h3 {
    padding-top: 10px;
    font-size: 1em;
    text-align: center;
    color: white;
}


.btn-1 {
    background-color: #FF5F5F;
}

.btn-2 {
    background-color: #FFAF5F;
}

.btn-3 {
    background-color: #F2E187;
}

.btn-4 {
    background-color: #A8E080;
}

.btn-5 {
    background-color: #72EB5C;
}